@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);
*{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    text-decoration: none !important;
    list-style-type: none !important;
}
:root{
    -fontRoboto: 'Roboto Mono', monospace;
    -fontOpenSans: 'Open Sans', sans-serif;
}
body{
    background-color: #FFFFFF;
}

.title{
    font-weight: 900;
    font-size: 50px;
    line-height: 76px;
    letter-spacing: 0.02em;
    color: #2D2D2D;
    margin-bottom: 80px;
    font-family: var(-fontRoboto);
}

.text{
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.02em;
    max-width: 70%;
    color: #2D2D2D;
    font-family: var(-fontRoboto);
}